[Desktop Entry]
Name=Fedy4Ubuntu
GenericName=Fedy4Ubuntu
Icon=fedy4ubuntu
Comment=Software, Codec Installs & System Tweaks
Exec=fedy
Terminal=false
Type=Application
Categories=System;Utility;X-Ubuntu;
Keywords=clean;codec;ubuntu;fix;install;proprietary;
